{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le projet Session!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="homeTitle">Bienvenue sur l'application Gestion des sessions de formations</h1>
        {# <p>Insérer description de l'application</p> #}
        <p>Pour commencer, rendez-vous sur la page d'inscription pour utliser l'application, ou si vous disposez déja d'un compte connectez-vous.</p>
        <a href="">Inscription</a> <a href="">Connection</a>

    </div>

{% endblock %}
