@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(header.css);
@import url(table.css);

* {
  font-family: poppins;  
}

.container{
    max-width: 80%;
    margin: 30px auto;
}

h1{
    color: #439EE2;
    font-weight: 500;
}

.btn {
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    background-color: #1C7193;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);  
}

.btn:hover {
    background-color: rgba(28, 113, 147,0.8);
}


/********************************messages flash****************************/

.flash-success{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60px;
    margin: auto;
    background-color: #51fa417c;
    color: rgb(49, 139, 26);
    
    border: solid 1px rgb(49, 139, 26);
    border-radius: 5px;
}

/*************************************HomePage ***************************************/

.homeTitle{
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.description{
    margin: 40px auto;
    text-align: center;

}

.description a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: #1C7193;
}

.description a:hover{
    color: #2bacdf;
}




/*************************************Formulaires ********************************/

.formContainer{
    max-width: 400px;
    margin: auto;
    background-color: #F6F6F6;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25); 
}




